assessment_3/libfacedetection

*/node_modules/*

!assessment_3/displays/displays/.vscode
assessment_3/displays/displays/.vscode*
!assessment_3/displays/displays/node_modules
assessment_3/displays/displays/node_modules*
assessment_3/displays/list_display/bin/list_display
assessment_3/displays/list_display/bin/list_display_debug
assessment_3/displays/list_display/bin/list_display_debug


# Ignore demographics detector
!/assessment_3/demographics/env
/assessment_3/demographics/env*
!/assessment_3/demographics/__pycache__
/assessment_3/demographics/__pycache__*
!/assessment_3/demographics/Agendernet
/assessment_3/demographics/Agendernet*
!/assessment_3/demographics/model
/assessment_3/demographics/model*
!/assessment_3/demographics/utils
/assessment_3/demographics/utils*

# Ignore emotion detector
!/assessment_3/emotion_detector/env
/assessment_3/emotion_detector/env*
!/assessment_3/emotion_detector/__pycache__
/assessment_3/emotion_detector/__pycache__*

# Ignore oscP5 library on processing sketch
!/assessment_3/displays/ascii_display/code
/assessment_3/displays/ascii_display/code/*
!/assessment_3/displays/ascii_display/include
/assessment_3/displays/ascii_display/include/*

!/assessment_3/displays/face_points/code
/assessment_3/displays/face_points/code/*
!/assessment_3/displays/face_points/oscP5
/assessment_3/displays/face_points/oscP5/*
!/assessment_3/displays/face_points/include
/assessment_3/displays/face_points/include/*

# ignore all
# check another .ignore file in addons folder

# Ignore ascii_gen virtual environment
!/assessment_3/ascii_gen/env
/assessment_3/ascii_gen/env*
!/assessment_3/ascii_gen/__pycache__
/assessment_3/ascii_gen/__pycache__*

# Ignore recogniser virtual environment and data
!/assessment_3/recogniser/env
/assessment_3/recogniser/env*
!/assessment_3/recogniser/data
/assessment_3/recogniser/data*
!/assessment_3/recogniser/__pycache__
/assessment_3/recogniser/__pycache__*
/assessment_3/recogniser/model.dat

# Ignore opencv
!/assessment_3/opencv
/assessment_3/opencv/*
!/assessment_3/openFrameworks
/assessment_3/openFrameworks/*

!/assessment_3/control_centre/bin
/assessment_3/control_centre/bin/*
/assessment_3/control_centre/bin/data/vids/sunless*
!/assessment_3/control_centre/bin/data/
!/assessment_3/control_centre/bin/data/*
/assessment_3/control_centre/obj

# Xcode Project
xcuserdata/
*.entitlements
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
.xcscmblueprint
DerivedData
*.hmap
*.ipa
*.xcuserstate

#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

*~
.svn/
*.app/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# xml
*.*.bak

*.xcscmblueprint

**/obj/**

# vs code brower database
*.db
*.db-shm
*.db-wal
*.directory
