body {
    padding: 0;
    margin: 0;
}

.Display {
    display: none;

    width: 100vw;
    height: 100vh;
    background: red;

    &__Active {
        display: block;
    }
}

.Menu {
    display: none;
    &__Active {
        display: block;
    }
}

.u--display-none {
    display: none;
}