@import './utils.scss';
@import './typography.scss';
@import '/node_modules/typer-js/typer.css';

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: $color-white;
    background: $color-black;

    @extend .t--terminal;
}

a {
    color: $color-green;
}

.Display {
    display: none;

    width: 100vw;
    height: 100vh;
    background: $color-grey;

    &__Active {
        display: block;
    }
}

.Menu {
    display: none;
    padding: 2rem;

    &__Active {
        display: block;
    }

    &_Option {
        margin-right: 1rem;
    }
}

.StateDebugElement {
    position: fixed;
    background: black;
    color: white;
    padding: 10px;
    left: 0;
    top: 0;
}

// Components
@import './UserId.scss';

// Displays
@import './AsciiDisplay.scss';
@import './EmotionDisplay.scss';
@import './FacePointsDisplay.scss';
@import './SexDisplay.scss';