$color-black : #121211;
$color-off-black : #171716;
$color-dark-grey : #232423;
$color-grey : #30302F;
$color-green : #6FCF97;
$color-white : #EEE;
$color-red : DC3F36;

.u--color-green {
  color: $color-green;
}

.u--color-red {
  color : $color-red;
}

.u--color-white {
  color: $color-white;
}

.u--display-none {
  display: none;
}
